body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Jasnoniebieskie tło */
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

.container {
    background-color: #fff; /* Białe tło dla środkowego div */
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    margin: 5em auto 0 auto;
}

.inner-container {
    width: 90%; /* Zmniejszenie szerokości o 10% */
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

label {
    margin-bottom: 0.5em;
    color: #333;
}

input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.alert {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    width: 48%; /* Pomniejszenie wykresów */
    margin-bottom: 2em;
}

.chart img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Dodanie stylu dla zmniejszenia rozmiaru czcionki dat */
.chart text {
    font-size: 0.8em; /* Zmniejszenie rozmiaru czcionki */
}

/* Nowa klasa do wyśrodkowania tekstu */
.centered {
    text-align: center;
    margin: 0 auto;
    display: block;
}

/* Styl do wyśrodkowania listy i ustawienia jej szerokości na 20% */
.centered-list {
    list-style-type: disc;
    padding-left: 0;
    text-align: left;
    width: 20%;
    margin: 0 auto;
}

.centered-list li {
    display: list-item;
    margin-left: 20px;
}

/* Styl dla panelu bocznego */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.sidebar a .icon {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .icon {
    font-size: 24px;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed a {
    font-size: 16px;
    justify-content: center;
}

.sidebar.collapsed .icon {
    font-size: 20px;
    margin-right: 0;
}

.sidebar.collapsed .text {
    display: none;
}

.toggle-btn {
    position: absolute;
    top: 20px;
    left: 250px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: left 0.3s;
}

.sidebar.collapsed + .toggle-btn {
    left: 80px;
}