{% extends "base.html" %}
{% block content %}
    <h2>COVID-19 Data for Selected Countries</h2>
    <table class="covid-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Country</th>
                <th>Active Cases</th>
                <th>Total Cases</th>
                <th>Total Deaths</th>
            </tr>
        </thead>
        <tbody>
            {% for record in covid_records %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.country }}</td>
                    <td>{{ record.active_cases }}</td>
                    <td>{{ record.total_cases }}</td>
                    <td>{{ record.total_deaths }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>COVID-19 Total Deaths on 2023-01-01</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="COVID-19 Total Deaths on 2023-01-01">
{% endblock %}